<div class="new">

  <div class="inline-blk blk1">
    <h3> Submit a movie and review </h3>
    <form  (submit)="onSubmit()">

      <br>

      <div class="form-group">
        <p class="errors" *ngIf="errs.title"> {{errs.title}}</p>
        <div *ngIf="title.invalid && (title.dirty || title.touched)">
          <div *ngIf="title.errors.required">
            <p class="errors"> Title is required </p>
          </div>
          <div *ngIf="title.errors.minlength">
            <p class="errors"> Title must be at least 3 characters long. </p>
          </div>
        </div>
        <!-- <div class="col-md-6 col-md-offset-3"> -->
          <label for="title">Movie Title</label>
          <input type="text" class="form-control" id="title" name="title" minlength="3" maxlength="24" [(ngModel)]="newMovie.title" #title="ngModel" required>
        <!-- </div> -->
      </div>

      <br/>

      <div class="form-group">
        <p class="errors" *ngIf="errs.reviewer"> {{errs.reviewer}}</p>
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <div *ngIf="name.errors.required">
            <p class="errors"> Name is required </p>
          </div>
          <div *ngIf="name.errors.minlength">
            <p class="errors"> Name must be at least 3 characters long. </p>
          </div>
        </div>
        <!-- <div class="col-md-6 col-md-offset-3"> -->
          <label for="name"> Your Name </label>
          <input type="text" class="form-control" id="name" name="name" minlength="3" maxlength="24" [(ngModel)]="newMovie.name" #name="ngModel" required>
        <!-- </div> -->
      </div>

    <br/>

      <p class="errors" *ngIf="errs.rating"> {{errs.rating}}</p>
      <div *ngIf="ratings.invalid && (ratings.dirty || ratings.touched)">
        <div *ngIf="ratings.errors.required">
          <p class="errors"> Rating is required. </p>
        </div>
      </div>

      <div class="form-group">
        <label for="ratings"> Ratings</label>
        <select class="form-control" id="ratings" name="ratings" [(ngModel)]="newMovie.ratings" #ratings="ngModel" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>


      <!-- <p class="error" *ngIf="messages.quote"> {{messages.quote}}</p> -->
      <br/>
        <div *ngIf="review.invalid && (review.dirty || review.touched)">
          <div *ngIf="review.errors.required">
            <p class="errors"> Review is required </p>
          </div>
          <div *ngIf="review.errors.minlength">
            <p class="errors"> Review must be at least 3 characters long. </p>
          </div>
        </div>
      <div class="form-group">
          <p class="errors" *ngIf="errs.comment"> {{errs.comment}}</p>
          <label for="review">Your Review</label>
          <textarea class="form-control" id="review" rows="3" name="review" minlength="3" [(ngModel)]="newMovie.review" #review="ngModel" required> </textarea>
      </div>
      <br/>


      <!-- <span *ngIf="!title.invalid && !review.invalid && !ratings.invalid && !name.invalid"> -->
        <button type="submit" class="btn btn-primary mb-2"> Submit </button>
      <!-- </span> -->
      <!-- <button type="submit" class="btn btn-primary mb-2" disabled> Submit </button> -->

      <a [routerLink] = "['/products-list']" class="btn btn-primary mb-2" > Cancel </a>

    </form>
  </div>

</div>
