<div class="products">
  <div class="row">
    <div class="col-md-4 " *ngFor="let item of all">
      <div class="card mb-4 shadow-sm product" >
        <img class="card-img-top" data-src="{{item.url}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text"> <span>{{item.title}}</span> </p>
          <p class="card-text">  <span>${{item.price}}</span> </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" [routerLink] = "['/products-list','edit', item._id]" class="btn btn-sm btn-outline-secondary"> EDIT </button>
              <button type="button" (click)="onDelete(item._id)" class="btn btn-sm btn-outline-secondary"> DELETE </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
